<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="github" value="https://nuget.pkg.github.com/vestervang/index.json" protocolVersion="3" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="${USER}" />
            <add key="ClearTextPassword" value="${PAT}" />
        </github>
    </packageSourceCredentials>
</configuration>